/* @override http://localhost/css/business-casual.css */

/* @override http://localhost/montedepiedad/css/business-casual.css */

/* @override http://localhost/montedepiedad/css/business-casual.css */

/* @override http://localhost/montedepiedad/css/business-casual.css */

/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
 
 
 /* nav bar search box - drop down menu button */
 
 /*.datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
 .datagrid {background: #fff; overflow: hidden;}
 .datagrid table td, .datagrid table th { padding: 3px 10px; }
.datagrid table thead th {background-color: #a60f63; color:#FFFFFF; font-size: 20px; font-weight: bold; border-left: 1px solid white;padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;}
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: gray; border-left: 1px solid #E1EEF4;font-weight: normal;padding: 15px; }
.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }
.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;font-weight: bold;
	padding: 10px 10px; margin: 10px;
	background-color: #24a093;}.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }*/
 
 .datagrid table{
	width: 100%;
}
 
 .datagrid table tr th { position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: center;
  	background-color: #a60f63;
    height: 26px;
  color: white;
  -moz-box-shadow: 2px 2px 1px black;
  padding: 20px;	
  text-decoration:none;
	border-left-style: solid;
	border-left-width: 1px;
}

.datagrid table th:hover { position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: center;
  	background-color: #640c46;
    height: 26px;
  color: white;
  -moz-box-shadow: 2px 2px 1px black;
  padding: 20px;	
  text-decoration:none;
	border-left-style: solid;
	border-left-width: 1px;
}

 .datagrid table tr:nth-child(odd) {	text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  	background-color: #ebeeee;
  
  color: gray;
  -moz-box-shadow: 2px 2px 1px black;
	
}

.datagrid table tr:nth-child(odd):hover {
		text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;

  -moz-box-shadow: 2px 2px 1px black;
	background-color: #568eea;
  
  color: white;

	
	}

.datagrid table tr:nth-child(odd) td{ padding:10px;border-left: 1px solid #fff;
}

.datagrid table tr:nth-child(even) {	text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  	background-color: #d3d6d9;
  
  color: gray;
  -moz-box-shadow: 2px 2px 1px black;
	
}

.datagrid table tr:nth-child(even):hover {
		text-align: center;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;

  -moz-box-shadow: 2px 2px 1px black;
	background-color: #EA8200;
  
  color: white;

	
	}


.datagrid table tr:nth-child(even) td { padding:10px;
	border-left: 1px solid #fff;
}


 
 
 
 
.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.dropdown-menu .label-icon { margin-left: 5px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}




div.input-group {width: 100%;
	
}

tr.th-header th { }
tr.claro-tabla {position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: left;
  	background-color: #ebeeee;
  
  color: gray;
  -moz-box-shadow: 2px 2px 1px black;
	
}

tr.claro-tabla:hover {position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: left;
  	background-color: #568eea;
  
  color: white;
  -moz-box-shadow: 2px 2px 1px black;
	
}

.paginacion {
	color: gray;
	font-weight: bold;
	padding: 20px;
}

.paginacion a{
	color: white;
	font-weight: bold;
	padding: 3px 12px; margin: 10px;
	background-color: #24a093;text-decoration: none;
}

.paginacion a:hover{
	color: white;
	font-weight: bold;
	padding: 3px 12px; margin: 10px;
	background-color: #1c7f75;text-decoration: none;
}

tr.oscuro-tabla td{text-align: center;
	padding: 20px;
	border-right: 1px solid white;
	
}
tr.oscuro-tabla {position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: left;
  	background-color: #dbdede;
  left: 5px;
  top: 5px;
  height: 26px;
  color: gray;
  -moz-box-shadow: 2px 2px 1px black;
	
}

tr.oscuro-tabla:hover {position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -o-transition-property: background-color, color;
  -o-transition-duration: 1s;
  text-align: left;
  	background-color: #EA8200;
  left: 5px;
  top: 5px;
  height: 26px;
  color: white;
  -moz-box-shadow: 2px 2px 1px black;
	
}

 
 
 
 
 
 
 
 
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;margin-top:5px;margin-right:-10px;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;}













 
 .quempenar {
	padding: 0px 20px; margin: 0 auto;
}
h3.advertencia {
	color: gray;
	font-size: 1em;float: left;
	font-weight: bold;padding: 20px;
	border: 6px solid #ff9200;
}
.articulos-empe {padding: 20px;background-color: #a60f63; margin-top: 30px;
	color: white;
	font-weight: bold;
}
h2.text-center.2 {
	color: white;
}

 .historia {padding: 20px;
}

 .historia h4{padding: 20px;
	color: white;
	margin: 0px; display: block;float: left; width: 30%;
	background-color: #b4106b;min-height: 200px;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 1.5em;
	margin:0px 30px 30px 0px ;
}
.historia p{
	color: gray;
	margin-bottom: 15px;
	line-height: 1.5em;
	font-size: 1em;
}
 
/* padded section */

.pad-section { padding: 150px 0; }

.pad-section img { width: 100%; }

/* vertical-centered text */

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */

#box1 {
   display: table;
  width: 100%;
}

nav.navbar.navbar-default.goToTop {
	background-color: white;
}

#box2 {
  background-color: #EA8200;
  color: white;
  height: 100%;
}

#box3 {
  background-color: #182C3C;
  color: white;
  height: 100%;
}

footer { padding: 0px 0; }

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover { color: #EE2E24; }

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}

nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

nav li { background: #88dfd0; }

#accountmenu ul.dropdown-menu li a:hover {
	text-shadow: silver 1px 1px 1px;
}

#accountmenu ul.dropdown-menu li.divider {
	background-color: silver;
}





#accountmenu a.dropdown-toggle:hover {background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
	
}

#accountmenu ul.dropdown-menu li {
	background-color: white;
}

.type1 p{
	font-size: 1em;
	color: gray;
}

.type1 h3{
	font-size: 1em;
	color: #44bea8;
}


 
 
 
 
body {
	 font-family: 'Biryani', sans-serif;
	 font-size: 16px;
}
ul.nav.nav-pills.nav-justified a{text-shadow: none;
	color: #f5780f;
	border-right: 1px solid #eef1f1;
	background-color: white;
	font-size: 20px;
	font-weight: 900;
}

p.product-description {
	color: gray;
	font-size: 16px;
	line-height: 30px;
	margin-top: 20px;
	
}

div.direcciones strong{
	line-height: 40px;
}


.direcciones hr {width: 60%;text-align: left;
	
}

div.direcciones {
	line-height: 1.em;
}

.product-description strong {
	color: #b4106b;display: block;
	font-size: 1.5em;
}

.product-description span{
	font-size: 20px;
	line-height: 40px;
	padding-right: 20px;
}

nav.navbar.navbar-default.suc-menu-1 {
	background-color: white;
}

.menu-suc a {
	color: #494a4a;display: block;
}

a.dropdown-toggle.btn.btn-default3 {
	text-align: left;
	font-size: 16px;
}
.menu-suc a:hover {
color: #a60f63;}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li.dropdown.open a.dropdown-toggle.btn.btn-default3 {border: none;background:transparent;
	
}.subastas p{
	line-height: 1.8em;
	color: gray;
	font-size: 14px;
}

.subastas p strong {
	color: #b3106b;
	font-size: 20px;
	line-height: 40px;
}
.suc.nav>li>a {
	color: gray;
	text-shadow: none;
}


.direccion {min-height: 300px;
	background-color: #94bff5;
}
.for-info{
	min-height: 300px;
}
.formulario {
	background-color: #568feb;
	height: 300px;float: left;
	width: 100%;
	padding-top: 30px;
}
.azul {
	background-color: #568feb;min-height: 00px;padding-top: ;
}

.file {padding:30px 15px;
	
}

.informe {padding: 30px;
	font-size: 1.2em;
}

span.descripción-transparencia {
	font-size: .7em;
}
.texto-header{
	font-size: 12px;color:#646464; line-height: 1.6em; padding-top: 25px;
	font-weight: normal;
	font-style: normal;
}

span.resaltado {
	color: white;
	font-weight: bold;
	background-color: #88dfd0;display: block;
	padding: 10px;
}
.articulos{
	background-color: #f7ae3c;min-height: 300px;
	padding: 10px;
}

a.articulos-boton {display: block;width: 100%;
	text-align: center;
	color: white;
	font-size: 1em;
	font-weight: bold;
	line-height: 2em;
	border-style: solid;
	border-color: rgba(255,255,255,0.5044481);
	background-color: #b4106b;
	text-transform: uppercase;
}

.iconote {
	padding: 0px 20px;
	font-size: 40px;
	color: white;
}

a.ventajas-boton {display: block;width: 40%;
	text-align: center;
	color: white;
	font-size: 1em;
	font-weight: bold;
	line-height: 2em;
	border-style: solid;
	border-color: rgba(255,255,255,0.5044481);
	background-color: #f7ae3c;
}

.sugerencias {
	color: white;
	font-size: 18px; 	font-weight: bold;
	line-height: 30px;display: block;
	text-align: center;
}

.iconinfo p {
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 10px;
}
.articulos2{
	background-color: #f7ae3c;height: 150px;
	
}
.faqs{height: 275px;
	background-color: #f5780f;
	padding-top: 5px;
	padding-left: 40px;
}

.direc a {display: block;
	background-color: #4778c7;
	color: white;
	text-align: center;
	margin: 10px 0px;
	padding: 10px;
}
.direc {
	padding: 0 20px;
}
.direc p {
	font-size: 1em;
	color: #676969;
	text-align: center;
}

#exTab3 ul.nav.nav-pills li a {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: #000000 0 0 0;
}
.direc hr{
	width: 80%;margin: 40px;
}
.direc strong {
	font-size: 1.2em;
	color: #f5780f;display: block;
	text-align: center;
}

.direc em {
	color: #f7ae3c;display: block;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	margin-bottom: 10px;
	font-style: normal;
	text-decoration: none;
}
.faqs img {max-height: 150px;margin-top: 30px;
	
}

.dire {margin-top: 30px;
	color: gray;margin-bottom: 30px;
}

.dire strong {
	color: #568feb;
height: 30px;
    display: block;
    
}

.succ {  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
	
}

h2.proximas {
	color: #a60f63;
	font-weight: 700;
}

.joyas {display: block;float: left;width: 100%;
	
}
.joyas p {display: block;float: left;width: 50%; height: 100px;line-height: 100px;
	
}
.subastas {height: 300px;
	background-color: #f9f9f9;
}
.iconinfo{
	min-height: 300px;
	background-color: #24a093;padding: 40px 0 0;
}


.boleta2{
	background-color: #8ec549;padding: 30px 20px 10px 20px; min-height:150px;
	}

button.btn.btn-default2 {
	background-color: #568eea;
	width: 100%;
	border: 2px solid white;
	margin-top: 15px;
	color: white;
	font-weight: bold;
}

tr.info {
	font-size: 12px;
	letter-spacing: 0;
}

.menu-suc tbody tr td {
	padding: 2px;
	font-size: 12px;
	letter-spacing: 0;
	border: none;
	background-color: white;
	
}

.arti h3 {
	color: #44bea8;
	text-align: left;
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
}

p.desde {display: block;text-align: center;
	font-weight: bold;height: 100px;
	line-height: 100px;
	color: #f5780f;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li.dropdown div.btn-group.open ul.dropdown-menu li a {
	background-color: white;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li.dropdown div.btn-group.open ul.dropdown-menu li a:hover {
	text-shadow: silver 1px 1px 1px;
}

table.table.menu-suc tbody tr th {
	font-size: 12px;
	letter-spacing: 0;
	padding: 2px;
background-color: white;
	border-bottom: 1px solid silver;
}

table.table.menu-suc {margin: 0px;
	
}


button.btn.btn-default3{
	background-color: transparent;
 padding:16px;
	letter-spacing: 0;
	text-shadow: #9affee 1px 0 1px;
	font: bold 14px 'Biryani', sans-serif;
}

h4 {	font-size: .8em;
	color: white;
	text-transform: none;
	line-height: 1.5;
	font-weight:00;
	margin: 20px 0px;
}

ul.info-fo {list-style: none;margin-top: 40px;
	color: white;
	font-weight: bold;
	line-height: 30px;text-align: center;
}

.info-fo a {
	color: white;
	padding: 10px;
	opacity: 1;
	border-color: rgba(254,255,255,0.4649863);
	border-right-style: solid;float: left;text-align: cente ;
}

p.texto-empenos {font-size: 1.0em;
	color: white;
	text-transform: none;
	font-weight:400;
	min-height: 200px;
	padding: 30px;
	background-color: #640c46;
}

p.texto-empenos1 {font-size: 1.0em;
	color: gray;
	text-transform: none;
	font-weight:400;
	min-height: 200px;
	padding: 30px;
}

.derecha-empeños p{
	color: gray;
	font-size: .8em;
}

.derecha-empeños {padding: 20px 20px 20px 40px; margin-top: 20px;
	border: 5px solid #ff9200;
}
button.btn.btn-default {
	background-color: #a0df53;
	width: 100%;
	border: 2px solid #c6e1a5;
	color: white;
}

input#boletaBtn_id.btn.btn-default2 {background-color: #a0df53;
	width: 100%;
	border: 2px solid #c6e1a5;
	color: white;
float: left;
	
}

button.btn.ventajas {
	color: white;
	font-weight: bold;
	background-color: #f5780f;
	border: 2px solid #ff9200;
	font-size: 1em;
}

.formulario-con {padding: 30px;
	
}

h2.contacto {
	color: orange;
	text-align: center;margin-bottom: 30px;
	border-bottom: 1px solid silver;
	padding-bottom: 20px;
}




.boleta{
	background-color: #4f9815;
	font-weight: bold;height: 100px;padding: 20px;
}
.moradofuerte {
	background-color: #640c46; padding: 2%;min-height: 200px;
}
.moradoclaro {
	background-color: #b4106b; padding: 2%;min-height: 200px;
}



div.col-lg-3.col-md-6.col-sm-6.col-xs-12.moradoclaro.pasos {
	
}
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  
}

.flex-child{
 vertical-align:middle;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: none;
}

.img-venta {max-width: 250px;margin: 0 auto;
	
}

.arts { padding: 40px 10px;

	color: gray;
	font-size: .8em;
	border-bottom: 2px solid #e5e8e8;
}
.arts h1 {
	color: #b4106b;
	font-size: 2em;
	line-height: 1.5em;
	margin: 0px 0 20px;
}

.arts ul {
	padding: 10px;
}
.precio{
	font-size: 1.5em; height: 50px;
	color: #f5780f;
}
.vencimiento {
	font-size: 50px;display: block;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: #6d9738 2px 2px 3px;
}

.ven {padding: 10px;
	
}

.venta {
	border: 2px solid silver;
}
h2 {
	font-size: 1.5em;
	color: white;
	text-transform: none;
	line-height: 1.5;
	font-weight:700;
	margin-top: 0px;
	padding-top: 20px;
	
}

.type1 h2 {
	color: #44bea8;
}

.faqs p {
	color: white;float: left;display: block;width: 60%;
	margin-right: 05%;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10%;
}
h3 {
	font-size: 1.0em;
	color: white;
	text-transform: none;
	line-height: 1.5;
	font-weight:400;
	margin: 15px 0px;
}

.vencimiento2 {
	color: white;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom:18px;
	text-align: center;
	font-weight: bold;
		width: 100%;
}

/* My Comment */


p {
    font-size: 1 em;
    line-height: 1.6;
    color: gray;
}

.small {font-size: 10px;
	color: silver;
}

#bs-example-navbar-collapse-1 {padding: 0px;
	
}



hr {
    max-width: 100%;
    border-color: #999999;
}

span.glyphicon.glyphicon-hand-right. {
	font-size: 40px;height: 200px;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    height: 110px;
}

.navbar-nav {
    font-weight: 400;
    letter-spacing: 1px;
	background-color: #88dfd0;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 0px;
    padding:0px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto;display: block;
  
}


.borde-arriba {
	border-top: 2px dashed rgba(152,153,152,0.4500456);
	margin-top:30px ;
}

.img-pad { padding: 30px;
	
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.tabla-boleta {
	color: gray;
	line-height: 2em;
	font-size: 1.2em;
	margin-top: 20px;
	
}





footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 0px;
        text-align: center;
        font-size: 3em;
        font-weight: 700;
        line-height: normal;
        color: black;
        height: 100px;
	background-color: #f9f9f9;
}

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

nav.navbar.navbar-default {
	margin-bottom: 0px;
}

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

nav.navbar.navbar-default {margin-bottom: 0px;
	
}

    .navbar-default {
        border: none;
        background: #89e0d0;
        margin-bottom: 0px;
    
    }

    .nav>li>a {
        padding:16px;
	letter-spacing: 0;
	text-shadow: #9affee 1px 0 1px;
	font: bold 14px 'Biryani', sans-serif;
	background-color: transparent;
}


    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
@media screen and (max-width:767px){.moradofuerte{
	padding: 10px;
	min-height: 20px;
	text-align: center;
	
	
}


.imgpad {padding-left: 40px;
	
}
.img-pad { padding: 0px;
	
}
.product-description span{
	
	padding-left: 40px;
}
div.direcciones {
	line-height: 1.5em;
	padding-left: 40px;
}



.menu-suc tbody tr td {
	padding: 6px;
	font-size: 14px;
	letter-spacing: 0;
}

table.table.menu-suc tbody tr th {
	font-size: 13px;
	letter-spacing: 0;
	padding: 6px;
	background-color: #d9ecf6;
}

table.table.menu-suc {margin: 0px;
	
}


button.btn.btn-default3{
	background-color: transparent;
 padding:10px 14px;
	letter-spacing: 1px;
	text-shadow: none;
	font: 16px 'Biryani', sans-serif;
}

h2.panel-title {padding: 0px 20px;
}

h2.text-center {
	font-size: 22px;
}



.panel-body {padding-left: 30px;
}



#bs-example-navbar-collapse-1 {padding-left: 40px;
	
}
}

.morado-faq {
	border: 15px solid white;
	background-color: #B4106B;
	padding: 15px;
	color: white;
		min-height: 200px;

}

.verde-faq {
	border: 15px solid white;
	background-color: #4f9815;
	padding: 15px;
	color: white;
	min-height: 200px;
}

.azul-faq {
	border: 15px solid white;
	background-color: #7EACE8;
	padding: 15px;
	color: white;
	clear: none;
}

.moradof-faq {
	border: 15px solid white;
	background-color: #640C46;
	padding: 15px;
	color: white; min-height: 460px;}

.table-responsive th {
	background-color: #F5780F;
	color: white;padding: 20px;
	text-align: center;
	border-right-style: solid;
	border-right-color: orange;
}

/* My Comment */

.table-responsive td {
	background-color: #f7f8fb;
	color: gray;padding: 20px 0px;
	text-align: center;
	border-right-style: solid;
	border-right-color: white;
}

	.naranja1-faq {
	border: 15px solid white;
	background-color: #F5780F;
	padding: 15px;
	color: white; min-height: 460px;}

.aqua-faq {
	border: 15px solid white;
	background-color: #24A093;
	padding: 15px;
	color: white; min-height: 460px;}
.panel-default>.panel-heading{color: white;background-color: orange;
	text-shadow: #c7620c 1px 1px 1px;
}

.panel-body {
	color: gray;
	background-color: white;
	line-height: 2em;
	padding: 30px;
}
.pad-5 {padding: 0px;
	line-height: 2em;
}

tr.prox-sub {
	color: gray;
	text-align: center;
}

td.sucursal-prox {
	font-weight: bold;
	color: #b3106b;
	padding: 5px;
}

.progress-bar-danger {
	background-color: #eb202d;
}

.progress-bar-success {	background-color: #04be02;

	
}



.progress-bar-amarilla {
	background-color: yellow;
}

.arti {
	color: gray;margin-top: 20px;
}

.pagos-info {padding: 20px;
	
}

.pasos-im {max-height: 150px;
padding: 10px 0px;
	
}
.pagos-des {
	padding: 40px 0px 20px 20px;
	font-size: 1em;
	line-height: 1.5em;
	color: gray;
	font-weight: bold;
}

input.form-control.busqu {
	width: 500px;
}


